<mat-card-title>Password</mat-card-title>
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="verifyPassword()">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <div class="button">
                <button mat-raised-button type="submit" [disabled]="!form.valid">Verify</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>