<mat-card-title>Room's setting</mat-card-title>
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submitChanges()">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="name.touched && name.hasError('minlength')">Name must contain at least 3 characters
                </mat-error>
                <mat-error *ngIf="name.touched && name.hasError('maxlength')">Name must be no more than 20 characters
                </mat-error>
                <mat-error *ngIf="name.touched && name.hasError('pattern')">Name may only contain letters and numbers
                </mat-error>
                <mat-error *ngIf="name.touched && name.hasError('roomNameTaken')">Name is already taken
                </mat-error>
            </mat-form-field>

            <br>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="Description" formControlName="description">
                <mat-error *ngIf="description.touched && description.hasError('maxlength')">Description must be no more
                    than 30 characters
                </mat-error>
                <mat-error *ngIf="description.touched && description.hasError('pattern')">Description may only contain
                    letters, numbers and spaces
                </mat-error>
            </mat-form-field>

            <br>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
                    [disabled]="true">
                <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="password.touched && password.hasError('minlength')">Password must contain at least 8
                    characters
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <br>
            <br>

            <label>Password: </label>
            <mat-radio-group formControlName="radioPassword">
                <mat-radio-button value="on" [checked]="isProtected()" (change)="radioButtonChange($event)"
                    [disabled]="isDirectRoom() || !isOwner()">Activate
                </mat-radio-button>
                <mat-radio-button value="off" [checked]="!isProtected()" (change)="radioButtonChange($event)"
                    [disabled]="isDirectRoom() || !isOwner()">Deactivate
                </mat-radio-button>
            </mat-radio-group>

            <br>
            <br>

            <div class=" button">
                <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
            </div>
        </form>

        <br>
        <br>

        <form [formGroup]="form" (ngSubmit)="checkIfAlreadyAdded()">
            <mat-form-field>
                <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto"
                    [formControl]="searchUsersCtrl" (input)="onInputChange()">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername"
                    (optionSelected)='updateMySelection()'>
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user">
                            <span><img src="backend/{{ user.avatar_url }}"
                                    class="rounded-circle avatar"><b>{{user.username}}</b> </span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <div class=" button">
                <button mat-raised-button type="submit" [disabled]="disabledAddButton">Add</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>