.iconsMember {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.btn {
	padding: 0px;
	margin: 5px;
}

.btnpadding {
	padding-left: 3px!important;
	padding-right: 3px!important;
}