mat-card {
    mat-card-content {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            mat-form-field {
                width: 100%;
                min-width: 100%;
            }

            .button {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.avatar {
    height: 35px;
    width: 35x;
    aspect-ratio: 1;
    margin-right: 10px;
}