
  
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  h1 {
    margin-bottom: 0px;
    font-weight: bold;
  }
  .container-fluid {
    height: 100%;
    overflow-y: scroll;
  }

  .padding {
	margin-top:30px;
	margin-bottom: 100px;
}
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
  }
  
  .card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
  }
  
  .card-header {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
  }  
  
  .card-profile {
    color: white;
  }


.user-list { 
    max-height: 300px;
    overflow-y: scroll;
}


@media  (min-width: 0px){
    .col-sm-3 {
        max-width: 100%;
        flex: 0 0 100%;
      }
      .col-sm-6 {
        max-width: 100%;
        flex: 0 0 100%;
      }
}

@media  (min-width: 720px){
    .col-sm-3 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
      }



      .col-sm-6 {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
      }
}

@media  (min-width: 1200px){
    .col-sm-3 {
        max-width: 25%;
        flex: 0 0 25%;
      }

	  .col-sm-3:last-of-type {
        max-width: 25%;
        flex: 0 0 25%;
      }

      .col-sm-6 {
        max-width: 50%;
        flex: 0 0 50%;
      }
}

@media (min-width: 0px){
    .right-tab {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
      }
}

@media (min-width: 1200px){
    .right-tab {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
}





.large-stats-holder {
    overflow-x: scroll;
    padding: 0px;
    min-height: 200px;
    display: flex;
    img {
        margin: auto;
    }
}
.large-stats {
    white-space: nowrap;
    text-overflow:unset;
    overflow-x: scroll;
    margin: auto;
    span {
        font-size: 72px;
        line-height: 72px;
        color: gold;
    }
}








.nav-tabs .nav-link.active {
    color: black;

}


.nav-tabs .nav-link {
    color: lightgray;
    border: none;

}

.min-height-lg {
	min-height: 510px;
	max-height: 510px;
	overflow-y: auto;
	overflow-x: hidden;
}

.min-height-lg2 {
	min-height: 475px;
	max-height: 475px;
	overflow-y: auto;
	overflow-x: hidden;
}


.min-height-sm {
	min-height: 144px;
	max-height: 144px;
	overflow-y: auto;
	overflow-x: hidden;
}

.min-height-sm2 {
	min-height: 334px;
	max-height: 334px;
	overflow-y: auto;
	overflow-x: hidden;
}

.min-height-sm3 {
	min-height: 190px;
	max-height: 190px;
	overflow-y: auto;
	overflow-x: hidden;
}

.min-height-sm4 {
	min-height: 160px;
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}
.gamestats {
	padding-top: 10px;
	padding-bottom:10px;
	color: white;
}
.stats {
	padding-top: 15px;
	padding-bottom:10px;
	color: white;
}